header {
    background-color: #d9847d;
    padding: 1%;
}

.inline-block {
    display: inline-block;
    vertical-align: center;
}

.logo img {
    float: left;
    max-width: 25%;
}

nav {
    width: 77%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    float: right;
}

nav ul,li {
    padding: 0 1%;
}

.heroImg {
    height: auto;
    padding: 2%;
    text-align: center;
}

.heroImg img {
    max-width: 80%;
    border-radius: 8px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: #d9847d;
}

footer ul,li {
    padding: 1%;
}

footer ul {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.mySkills {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

div.flexContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.flexContainer div {
    width: 33%;
    padding: 1%;
    margin: 0 auto;
}

.flexContainer img {
    max-width: 100%;
}

.myWork {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.project1 {
    grid-area: project1Area;
}

.project2 {
    grid-area: project2Area;
}

.workGrid {
    display: grid;
    grid-template-areas: 'project1Area project2Area';
    grid-template-rows: 100px 300px;
    grid-template-columns: 50% 50%;
}

.workGrid img {
    max-width: 50%;
}

@media only screen and (max-width: 600) {
    .flexContainer {
        flex-direction: column;
    }

    .flexContainer div {
        width: 100%;
    }

    .workGrid {
        grid-template-areas:
            "project1Area"
            "project2Area"
        ;
        grid-template-rows: 100px 300px;
        grid-template-columns: 1fr;
    }
}
